# 16th February Assignment

# Q1. What is a database? Differentiate between SQL and NoSQL databases.

### A database is an organized collection of data that is stored and managed on a computer system. Databases are used to store, retrieve, and manage data efficiently and securely. Databases can be of various types, but the most common types are SQL and NoSQL databases.

### SQL (Structured Query Language) databases are relational databases that store data in tables with columns and rows. SQL databases use a schema to define the structure of the data, and the data in each table is organized based on relationships between tables. SQL databases are good for complex queries and data that can be organized into a structured format. Examples of SQL databases include MySQL, Oracle, PostgreSQL, and Microsoft SQL Server.

### NoSQL (Not Only SQL) databases, on the other hand, do not use the traditional table-based relational database structure. Instead, NoSQL databases use a document-based or key-value-based data model, which makes them more flexible and scalable than SQL databases. NoSQL databases are ideal for storing unstructured or semi-structured data, such as documents, images, or JSON data. Examples of NoSQL databases include MongoDB, Cassandra, Redis, and Amazon DynamoDB.

### In summary, the main difference between SQL and NoSQL databases lies in the way they store and organize data. SQL databases use a structured approach that is ideal for complex queries and data that can be organized into a relational structure, while NoSQL databases are more flexible and scalable and are better suited for unstructured or semi-structured data.

# Q2. What is DDL? Explain why CREATE, DROP, ALTER, and TRUNCATE are used with an example.

### DDL stands for Data Definition Language, which is a subset of SQL (Structured Query Language) that is used to define the structure and organization of a database.

### Here are the explanations of the four DDL commands:

### (1) CREATE: This command is used to create a new database object, such as a table, view, index, or stored procedure. For example, suppose we want to create a new table called "customers" with three columns: "id", "name", and "email". The SQL code for creating this table would be:

--> CREATE TABLE customers (
    id INT PRIMARY KEY,
    name VARCHAR(50),
    email VARCHAR(50)
);

### (2) DROP: This command is used to delete an existing database object, such as a table or view. For example, suppose we want to delete the "customers" table that we created earlier. The SQL code for dropping this table would be:

--> DROP TABLE customers;

### (3) ALTER: This command is used to modify the structure of an existing database object, such as a table or view. For example, suppose we want to add a new column called "phone" to the "customers" table that we created earlier. The SQL code for altering this table would be:

--> ALTER TABLE customers ADD COLUMN phone VARCHAR(20);

### (4) TRUNCATE: This command is used to remove all the rows from an existing table. For example, suppose we want to remove all the data from the "customers" table that we created earlier, but we don't want to delete the table itself. The SQL code for truncating this table would be:
 
--> TRUNCATE TABLE customers;

### In summary, CREATE is used to create a new database object, DROP is used to delete an existing database object, ALTER is used to modify the structure of an existing database object, and TRUNCATE is used to remove all the rows from an existing table.

# Q3. What is DML? Explain INSERT, UPDATE, and DELETE with an example.

### DML stands for Data Manipulation Language, which is a subset of SQL (Structured Query Language) that is used to manipulate data stored in a database. DML commands include INSERT, UPDATE, and DELETE.

### Here are the explanations of the three DML commands:

### (1) INSERT: This command is used to add new rows of data to a table. For example, suppose we have a table called "employees" with columns "id", "name", "salary", and "department". To insert a new row of data into the "employees" table, we would use the following SQL code:

--> INSERT INTO employees (id, name, salary, department)
VALUES (1, 'John Smith', 50000, 'Sales');

### This code inserts a new row into the "employees" table with an ID of 1, a name of "John Smith", a salary of 50000, and a department of "Sales".

### (2) UPDATE: This command is used to modify existing data in a table. For example, suppose we want to update the salary of the employee with an ID of 1 in the "employees" table. The SQL code for updating this data would be:

--> UPDATE employees SET salary = 55000 WHERE id = 1;

### This code updates the salary of the employee with an ID of 1 in the "employees" table to 55000.

### (3) DELETE: This command is used to remove data from a table. For example, suppose we want to remove the employee with an ID of 1 from the "employees" table. The SQL code for deleting this data would be:

--> DELETE FROM employees WHERE id = 1;

### This code deletes the row with an ID of 1 from the "employees" table.

### In summary, INSERT is used to add new rows of data to a table, UPDATE is used to modify existing data in a table, and DELETE is used to remove data from a table.

# Q4. What is DQL? Explain SELECT with an example.

### DQL stands for Data Query Language, which is a subset of SQL (Structured Query Language) that is used to query data stored in a database. DQL commands include SELECT.

### Here is the explanation of the DQL command:

### SELECT: This command is used to retrieve data from one or more tables in a database. It is also used to perform calculations on data and return the result of those calculations. For example, suppose we have a table called "orders" with columns "id", "customer_id", "product_name", and "price". To retrieve all rows of data from the "orders" table, we would use the following SQL code:

--> SELECT * FROM orders;

### This code retrieves all rows of data from the "orders" table and returns all columns.

### We can also select specific columns by listing them after the SELECT keyword. For example, suppose we only want to retrieve the "id" and "product_name" columns from the "orders" table. The SQL code for this query would be:

--> SELECT id, product_name FROM orders;

### This code retrieves only the "id" and "product_name" columns from the "orders" table.

### We can also perform calculations on data using the SELECT command. For example, suppose we want to retrieve the total price of all orders in the "orders" table. The SQL code for this query would be:

--> SELECT SUM(price) AS total_price FROM orders;

### This code retrieves the sum of the "price" column in the "orders" table and renames the result as "total_price".

### In summary, SELECT is used to retrieve data from one or more tables in a database, and it can also be used to perform calculations on data and return the result of those calculations.

# Q5. Explain Primary Key and Foreign Key.

### In a relational database, a primary key and a foreign key are used to establish relationships between tables.

### A primary key is a column or a set of columns that uniquely identifies each row in a table. The primary key constraint ensures that the values in the primary key column(s) are unique and not null. By using a primary key, we can guarantee that each row in a table is unique and can be identified by a specific value or combination of values. Primary keys are used to link tables together through foreign keys.

### For example, suppose we have a "customers" table with columns "customer_id", "name", and "email". We can set the "customer_id" column as the primary key for this table, ensuring that each customer has a unique ID. We can then use this ID to link the "customers" table to other tables through foreign keys.

### A foreign key is a column or a set of columns that refers to the primary key of another table. The foreign key constraint ensures that the values in the foreign key column(s) match the values in the primary key column(s) of the referenced table, or are null. By using a foreign key, we can establish relationships between tables and maintain referential integrity.

### For example, suppose we have an "orders" table with columns "order_id", "customer_id", "product_name", and "price". We can set the "customer_id" column as a foreign key that references the "customer_id" column in the "customers" table. This relationship ensures that each order in the "orders" table is associated with a customer in the "customers" table, and we can use this relationship to retrieve data from both tables using SQL queries.

### In summary, a primary key is a column or a set of columns that uniquely identifies each row in a table, while a foreign key is a column or a set of columns that refers to the primary key of another table. By using these keys, we can establish relationships between tables and maintain referential integrity.

# Q6. Write a python code to connect MySQL to python. Explain the cursor() and execute() method.

### To connect to a MySQL database from Python, we can use the "mysql-connector-python" library. Here is an example Python code that connects to a MySQL database and performs a SELECT query:

--> import mysql.connector  

# Connect to the MySQL database  
mydb = mysql.connector.connect(  
  host="localhost",  
  user="yourusername",  
  password="yourpassword",  
  database="mydatabase"  
)

# Create a cursor object  
mycursor = mydb.cursor()  

# Execute a SELECT query  
mycursor.execute("SELECT * FROM customers")  

# Fetch all rows of data  
result = mycursor.fetchall()  

# Print the rows of data  
for row in result:  
  print(row)  
  
### In this code, we first import the "mysql.connector" library to connect to the MySQL database. We then use the "connect()" method to connect to the database by specifying the host, username, password, and database name.

### Next, we create a cursor object using the "cursor()" method. A cursor object is used to execute SQL queries and retrieve data from the database.

### We then use the "execute()" method to execute a SELECT query that retrieves all rows from the "customers" table. The SQL query is passed as a parameter to the "execute()" method.

### After executing the query, we use the "fetchall()" method to retrieve all rows of data from the query result. Finally, we loop through the rows of data and print them out.

### The "cursor()" method creates a cursor object, which is used to execute SQL queries and retrieve data from the database. The cursor object maintains a pointer to the current row of data in the result set, which can be moved using methods such as "fetchone()" and "fetchall()".

### The "execute()" method is used to execute an SQL query. The SQL query is passed as a parameter to the "execute()" method, and the method returns a cursor object that can be used to retrieve data from the query result. The "execute()" method can be used to execute any type of SQL query, including SELECT, INSERT, UPDATE, and DELETE queries.

# Q7. Give the order of execution of SQL clauses in an SQL query.

### The order of execution of SQL clauses in an SQL query is as follows:

### (1) FROM clause: specifies the table(s) from which data is to be retrieved.

### (2) WHERE clause: filters the rows returned by the FROM clause based on a specified condition.

### (3) GROUP BY clause: groups the rows returned by the WHERE clause into summary rows based on one or more columns.

### (4) HAVING clause: filters the groups returned by the GROUP BY clause based on a specified condition.

### (5) SELECT clause: selects the columns to be returned by the query, including any expressions or calculations to be performed on the data.

### (6) ORDER BY clause: sorts the rows returned by the SELECT clause based on one or more columns.

### (7) LIMIT/OFFSET clause: limits the number of rows returned by the query or skips a specified number of rows before returning the rest.

### Note that not all clauses are required in every query, and the order may be modified depending on the specific needs of the query. Additionally, some clauses such as JOINs and subqueries may be included in a query and affect the order of execution.